<!--#set var="bodyClass" value="index-page" -->
<!--#set var="resourcePath" value="./" -->
<!--#include virtual="./ssi/header.html"-->


<!--MAIN SLIDER-->
<section class="main-slider-section">
    <img class="slider-title" src="<!--#echo var='resourcePath'-->img/top/slider-title.svg" alt="" />

    <div class="main-slider slider">
        <div class="slider-item">
            <div class="item-wrap img1">
            </div>
        </div>
        <div class="slider-item">
            <div class="item-wrap img2">
            </div>
        </div>
        <div class="slider-item">
            <div class="item-wrap img3">
            </div>
        </div>
    </div>
</section>





<!--NEWS BAR-->
<section class="news-bar">
    <div class="news-bar-inner">
        <div class="container">
            <img class="news-text-title" src="<!--#echo var='resourcePath'-->img/top/news-bar.svg" alt="" />
            <div class="sep"></div>
            <div class="date">2018.7.28</div>
            <div class="tag">レストラン</div>
            <div class="news-title">12月の営業時間のご案内</div>
        </div>
    </div>
</section>





<!--ABOUT-->
<section id="about">
    <div class="container">
        <div class="col-md-12 arw-title">
            <img src="<!--#echo var='resourcePath'-->img/top/abt-title.svg" alt="image 1" />

        </div>
        <!--'ABOUT TITLE-->
        <div class="row">
            <div class="col-md-12">
                <div class="arw-img-1">
                    <img class="img-fluid on-pc" src="<!--#echo var='resourcePath'-->img/top/abt-img-1.png" alt="image 1" />
                    <img class="img-fluid on-mobi" src="img/top/abt-mb-img-tittle.jpg" alt="image 1" />
                </div>
            </div>
        </div>
        <!--'ABOUT IMG-->
        <div class="col-md-12 arw-ct-title">
            <h2>
                <p class="on-pc">
                    おもてなしの心で届ける、美味しい時間
                </p>
                <p class="on-mobi">
                    おもてなしの心で届ける、</br>美味しい時間
                </p>
            </h2>
        </div>

        <div class="col-md-12 arw-ct">
            <p class="on-pc">
                <span>
					私たちは神戸三宮の東遊園地内にあるレストランです。
					</span>
                </br>
                <span>
					「もっと楽しんでいただきたい」「もっと喜んでいただきたい」というおもてなしの心を
					</span>
                </br>
                <span>
					美味しいお料理とともに届けたい、そんな想いを胸に皆さまのご来店をお待ちしております。
					</span>
            </p>
            <p class="on-mobi">
                <span>
					私たちは神戸三宮の東遊園地内にある</br>
					レストランです。
					</span>
                </br>
                <span>
					「もっと楽しんでいただきたい」</br>
					「もっと喜んでいただきたい」という</br>
					おもてなしの心を
					</span>
                </br>
                <span>
					美味しいお料理とともに届けたい、</br>
					そんな想いを胸に</br>
					皆さまのご来店をお待ちしております。
					</span>
            </p>
        </div>
        <!--'ABOUT CONTENT-->
        <div class="col-md-12 arw-icon">
            <img class="img-fluid" src="<!--#echo var='resourcePath'-->img/top/i-vertical-3cirkle.svg" alt="image 1" />
        </div>
        <!--'ICON-->
        <div class="col-md-12 arw-btn">
            <a class="col-md-12 btn btn-white" href="#">
					view more
			</a>
        </div>

    </div>
</section>

<!--RESTAURANT-->
<section id="restaurant">
    <div class="container">
        <div class="col-md-12 arw-title">
            <img src="<!--#echo var='resourcePath'-->img/top/restr-title.svg" alt="image 1" />
        </div>
        <div class="col-md-12 arw-ct-title">
            <h2>
                <p class="on-pc">
                    レストランをもっと気軽に、楽しく
                </p>
                <p class="on-mobi">
                    レストランを</br>もっと気軽に、楽しく
                </p>
            </h2>
        </div>

        <!--'RESTR TITLE-->
        <div class="row">
            <div class="col-md-12 slide-reponsive">
                <div class="arw-img-1">
                    <img class="img-fluid" src="<!--#echo var='resourcePath'-->img/top/restr-img-1.png" alt="image 1" />
                </div>

                <div class="col-md-12 restr-slick-slide">
                    <div class="col-12 restr-slide-1">
                    </div>
                    <div class="col-12 restr-slide-2">
                    </div>
                    <div class="col-12 restr-slide-3">
                    </div>
                </div>
                <!--'Slide Mobi-->
            </div>
        </div>
        <!--'RESTR IMG-->
        <div class="col-md-12 arw-table">
            <div class="row">
                <div class="col-md-4 table-style">
                    <p>
                        <img src="<!--#echo var='resourcePath'-->img/top/restr-line-in-table.svg" alt="image 1" />
                        <span>lunch</span>
                        <img src="<!--#echo var='resourcePath'-->img/top/restr-line-in-table.svg" alt="image 1" />
                    </p>
                    <p>
                        11:30 to 15:00
                    </p>
                </div>
                <img class="restr-vertical" src="img/top/restr-vertival-line-table.svg" alt="image 1" />
                <img class="restr-vertical-mb" src="<!--#echo var='resourcePath'-->img/top/restr-line-mobi-table.svg" alt="image 1" />
                <div class="col-md-4 table-style">
                    <p>
                        <img src="<!--#echo var='resourcePath'-->img/top/restr-line-in-table.svg" alt="image 1" />
                        <span>dinner</span>
                        <img src="<!--#echo var='resourcePath'-->img/top/restr-line-in-table.svg" alt="image 1" />
                    </p>
                    <p>
                        貸切ご予約のみ
                    </p>
                </div>
                <img class="restr-vertical-mb" src="<!--#echo var='resourcePath'-->img/top/restr-line-mobi-table.svg" alt="image 1" />
                <img class="restr-vertical" src="<!--#echo var='resourcePath'-->img/top/restr-vertival-line-table.svg" alt="image 1" />
                <div class="col-md-4 table-style">
                    <p>
                        <img src="<!--#echo var='resourcePath'-->img/top/restr-line-in-table.svg" alt="image 1" />
                        <span>café</span>
                        <img src="<!--#echo var='resourcePath'-->img/top/restr-line-in-table.svg" alt="image 1" />
                    </p>
                    <p>
                        14:00 to 17:00
                    </p>
                </div>
            </div>
        </div>
        <!--'RESTR CT-->
        <div class="col-md-12 arw-icon">
            <img class="img-fluid" src="<!--#echo var='resourcePath'-->img/top/i-vertical-3cirkle.svg" alt="image 1" />
        </div>
        <div class="col-md-12 arw-btn">
            <a href="#" class="btn btn-green">view more</a>
        </div>
        <!--'BTN-->
    </div>
</section>






<!--WEDDING-->
<section id="wedding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wedding-container">
                <div class="col-md-12 within-table">
                    <div class="table-webding">
                        <img class="flower-1" src="<!--#echo var='resourcePath'-->img/top/tsuta-top.png" />
                        <img class="col-5 img-fluid flower-1-mb" />
                        <img class="flower-2" src="<!--#echo var='resourcePath'-->img/top/tsuta-bottom.png" />
                        <img class="col-5 img-fluid flower-2-mb" />
                        <!--'FLOWWER BG-->
                        <div class="col-md-12 arw-title ">
                            <img src="img/top/wd-title.svg" alt="image 1" />
                        </div>
                        <!--'WD TITLE-->
                        <div class="row">
                            <div class="col-md-12 arw-img-1">

                                <img class="img-fluid on-pc" src="<!--#echo var='resourcePath'-->img/top/wd-img-1.jpg" alt="image 1" />

                                <img class="img-fluid on-mobi" src="<!--#echo var='resourcePath'-->img/top/wd-img-mb.jpg" alt="image 1" />

                            </div>
                        </div>
                        <!--'WD IMG-->
                        <div class="col-md-12 arw-ct-title">
                            <h2>
                                <p class="on-pc">
                                    <span>“大切な人たちが笑っている”</span></br>
                                    <span>ただその幸せをつくりたい花嫁へ。</span>
                                </p>
                                <p class="on-mobi">
                                    <span>“大切な人たちが笑っている”</span></br>
                                    <span>ただその幸せをつくりたい</br>花嫁へ。</span>
                                </p>
                            </h2>
                        </div>
                        <!--'WD CT TITLE-->
                        <div class="col-md-12 arw-ct">
                            <p class="on-pc">
                                <span>
							パーティに必要なものなんて、
							</span>
                                </br>
                                <span>
							実はそんなにないのかもしれません。
							</span>
                                </br>
                                <span>
							あなたの好きなものだけ、納得できることだけを集めて、</br>一緒にその日を創り上げましょう。
							</span>
                            </p>

                            <p class="on-mobi">
                                <span>
							パーティに必要なものなんて、
							</span>
                                </br>
                                <span>
							実はそんなに</br>ないのかもしれません。
							</span>
                                </br>
                                <span>
							あなたの好きなものだけ、</br>納得できることだけを集めて、</br>一緒にその日を創り上げましょう。
							</span>
                            </p>
                        </div>
                        <!--'WD CONTENT-->
                        <div class="col-md-12 arw-icon">
                            <img class="img-fluid" src="<!--#echo var='resourcePath'-->img/top/i-vertical-3cirkle.svg" alt="image 1" />
                        </div>
                        <div class="col-md-12 arw-btn">
                            <a class="col-md-12 btn btn-white" href="#">view more</a>
                        </div>
                        <!--'ICON-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






<!--PARTY EVENT-->
<section class="party-event bg">
    <div class="container">
        <div class="row row-item">
            <div class="col-md-6">
                <div class="title d-md-none"><img src="<!--#echo var='resourcePath'-->img/top/party.svg" alt=""></div>
                <div class="img-item">
                    <img src="<!--#echo var='resourcePath'-->img/top/party-img.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-item text-center">
                    <div class="title d-md-block d-none"><img src="<!--#echo var='resourcePath'-->img/top/party.svg" alt=""></div>
                    <p>ヴィラブランシュではプライベートな食事会や、会社の忘年会、ビジネス利用の会議やレセプションなど様々な用途でご利用いただけます。</p>
                    <img src="<!--#echo var='resourcePath'-->img/top/three-dot.svg" alt="" class="line-dot">
                    <div class="col-12"><a href="#" class="btn btn-green">view more</a></div>
                </div>
            </div>
        </div>
        <hr class="d-md-block d-none">
        <div class="row row-item flex-row-reverse">
            <div class="col-md-6">
                <div class="title d-md-none"><img src="<!--#echo var='resourcePath'-->img/top/event.svg" alt=""></div>
                <div class="img-item">
                    <img src="<!--#echo var='resourcePath'-->img/top/event-img.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-item text-center">
                    <div class="title d-md-block d-none"><img src="<!--#echo var='resourcePath'-->img/top/event.svg" alt=""></div>
                    <p>ワインとお料理のマリアージュが楽しめるワイン会や、シェフ直伝のお料理教室、他社様主催のイベントなど随時開催しております。</p>
                    <img src="<!--#echo var='resourcePath'-->img/top/three-dot.svg" alt="" class="line-dot">
                    <div class="col-12"><a href="#" class="btn btn-green">view more</a></div>
                </div>
            </div>
        </div>
    </div>
</section>








<!--NEWS-->
<section class="news bg">
    <div class="container">
        <div class="news-content">
            <div class="content-left text-center">
                <div class="title"><img src="<!--#echo var='resourcePath'-->img/top/news.svg" alt=""></div>
                <div class="d-md-block d-none">
                    <img src="<!--#echo var='resourcePath'-->img/top/three-dot.svg" alt="" class="line-dot">
                    <p><a href="#" class="btn btn-green">view more</a></p>
                </div>
            </div>
            <div class="content-right">
                <div class="box-white">
                    <div class="row-news">
                        <span class="text-day">2018.7.28</span>
                        <span class="text-bg">レストラン</span>
                        <span class="text-sub">12月の営業時間のご案内</span>
                        <img src="<!--#echo var='resourcePath'-->img/top/arrows-new.svg" alt="" class="arrow">
                        <a href="#" class="link-to"></a>
                    </div>
                    <div class="row-news">
                        <span class="text-day">2018.7.28</span>
                        <span class="text-bg">レストラン</span>
                        <span class="text-sub">12月の営業時間のご案内</span>
                        <img src="<!--#echo var='resourcePath'-->img/top/arrows-new.svg" alt="" class="arrow">
                        <a href="#" class="link-to"></a>
                    </div>
                    <div class="row-news">
                        <span class="text-day">2018.7.28</span>
                        <span class="text-bg">レストラン</span>
                        <span class="text-sub">12月の営業時間のご案内</span>
                        <img src="<!--#echo var='resourcePath'-->img/top/arrows-new.svg" alt="" class="arrow">
                        <a href="#" class="link-to"></a>
                    </div>
                    <div class="row-news">
                        <span class="text-day">2018.7.28</span>
                        <span class="text-bg">レストラン</span>
                        <span class="text-sub">12月の営業時間のご案内</span>
                        <img src="<!--#echo var='resourcePath'-->img/top/arrows-new.svg" alt="" class="arrow">
                        <a href="#" class="link-to"></a>
                    </div>
                </div>
                <div class="d-md-none col-12 text-center">
                    <a href="#" class="btn btn-green">view more</a>
                </div>
            </div>
        </div>
    </div>
</section>









<!--ACCESS-->
<section class="access">
    <div class="access-content text-center">
        <div class="title"><img src="<!--#echo var='resourcePath'-->img/top/access.svg" alt=""></div>
        <p><strong>三宮駅から徒歩15分以内</strong><br>神戸市中央区加納町6-4-1　東遊園地内</p>
        <div id="map"></div>
        <div class="d-md-block d-none">
            <img src="<!--#echo var='resourcePath'-->img/top/three-dot.svg" alt="" class="line-dot">
        </div>
        <div class="col-12"><a href="#" class="btn btn-green">view more</a></div>
        <div class="contact-form">
            <div class="title">
                <div><img src="<!--#echo var='resourcePath'-->img/top/contact-form.svg" alt=""></div>
            </div>
            <div class="text">ご予約・お問い合わせはこちらから</div>
            <div class="contact-info">
                <a href="tel:0782916653" class="tel">078-291-6653</a>
                <span class="button-text text-center"><a href="#" class="btn btn-green">form</a></span>
            </div>
        </div>
    </div>

</section>






<!--LIST LINK-->
<section class="list-link">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-12">
                <div class="item-link d-flex align-items-center">
                    <img src="<!--#echo var='resourcePath'-->img/top/slideshowph1-00@2x.png" alt="" class="img-item">
                    <div class="content">
                        <img src="<!--#echo var='resourcePath'-->img/top/title-link-01.svg" alt="" class="img-fluid">
                        <div class="text">三宮のドレスショップ</div>
                    </div>
                    <a href="#" class="link-to"></a>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="item-link d-flex align-items-center">
                    <img src="<!--#echo var='resourcePath'-->img/top/slideshowph1-07@2x.png" alt="" class="img-item">
                    <div class="content">
                        <img src="<!--#echo var='resourcePath'-->img/top/title-link-02.svg" alt="" class="img-fluid">
                        <div class="text">三宮のフラワーショップ</div>
                    </div>
                    <a href="#" class="link-to"></a>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="item-link d-flex align-items-center">
                    <img src="<!--#echo var='resourcePath'-->img/top/slideshowph1-01@2x.png" alt="" class="img-item">
                    <div class="content">
                        <img src="<!--#echo var='resourcePath'-->img/top/title-link-03.svg" alt="" class="img-fluid">
                        <div class="text">地下の隠れ家レストラン</div>
                    </div>
                    <a href="#" class="link-to"></a>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="item-link d-flex align-items-center">
                    <img src="<!--#echo var='resourcePath'-->img/top/slideshowph1-00@2x.png" alt="" class="img-item">
                    <div class="content">
                        <img src="<!--#echo var='resourcePath'-->img/top/title-link-04.svg" alt="" class="img-fluid">
                        <div class="text">淡路島の秘密基地</div>
                    </div>
                    <a href="#" class="link-to"></a>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="item-link d-flex align-items-center">
                    <img src="<!--#echo var='resourcePath'-->img/top/slideshowph1-07@2x.png" alt="" class="img-item">
                    <div class="content">
                        <img src="<!--#echo var='resourcePath'-->img/top/title-link-05.svg" alt="" class="img-fluid">
                        <div class="text">須磨離宮公園のレストラン</div>
                    </div>
                    <a href="#" class="link-to"></a>
                </div>
            </div>
        </div>
    </div>
</section>


<!--#include virtual="./ssi/footer.html"-->