<!--#set var="bodyClass" value="parts-page" -->
<!--#set var="resourcePath" value="./" -->
<!--#include virtual="./ssi/header.html"-->
<section class="banner bg-gray text-center">
    <div class="main-slider">
        <div class="bg-banner bg d-md-block d-none" style="background-image: url(<!--#echo var='resourcePath'-->img/parts/bg-about.jpg);"></div>
        <div class="bg-banner bg d-md-none" style="background-image: url(<!--#echo var='resourcePath'-->img/parts/bg-about-sp.jpg);"></div>
        <div class="container">
            <div class="d-table w-100">
                <div class="content d-table-cell align-middle">
                    <div class="title">
                        <img src="<!--#echo var='resourcePath'-->img/parts/about.svg" alt="" class="img-fluid d-md-block d-none">
                        <img src="<!--#echo var='resourcePath'-->img/parts/about-sp.svg" alt="" class="img-fluid d-md-none">
                    </div>
                    <div class="text">VILLA BLANCHEについて</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="overview bg-gray">
    <div class="container">
        <div class="content">
            <div class="title">おもてなしの心で届ける、<br class="d-md-none">美味しい時間</div>
            <div class="text">私たちはレストランだけでなく、ウェディング、企業さまのパーティ、イベントなど様々なシーンでお客さまと接する機会があります。「もっと楽しんでいただきたい」「もっと喜んでいただきたい」というおもてなしの心を美味しいお料理とともに届けたい、そんな想いを胸に皆さまのご来店をお待ちしております。</div>
        </div>
    </div>
</section>
<section id="scene">
    <div class="container">
        <div class="col-md-12 sd-scene-title">
            <img class="img-fluid" src="<!--#echo var='resourcePath'-->/img/parts/sd-scene-title.svg" alt="image 1" />
        </div>
        <div class="row">
            <div class="col-md-6 sd-scene-img-ct-1">
                <img class="img-fluid" src="<!--#echo var='resourcePath'-->/img/parts/sd-scene-img-1.jpg" alt="image 1" />
            </div>
            <div class="col-md-6 sd-scene-ct-1">
                <h2>
                    Restaurant
                </h2>
                <p>
                    友達とランチに
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 sd-scene-ct-2">
                <h2>
                    Restaurant
                </h2>
                <p>
                    大切な人と特別な日に
                </p>
            </div>
            <div class="col-md-6 sd-scene-img-ct-2">
                <img class="img-fluid" src="<!--#echo var='resourcePath'-->/img/parts/sd-scene-img-2.jpg" alt="image 1" />
            </div>
            <div class="col-md-6 sd-scene-ct-2-mobi">
                <h2>
                    Restaurant
                </h2>
                <p>
                    大切な人と特別な日に
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 sd-scene-img-ct-3">
                <img class="img-fluid" src="<!--#echo var='resourcePath'-->/img/parts/sd-scene-img-3.jpg" alt="image 1" />
            </div>
            <div class="col-md-6 sd-scene-ct-3">
                <h2>
                    会場見学
                </h2>
                <p>
                    チャペルやバンケット、本番さながらのテーブルコーティネート見学を行なっています。また、直営店のメゾンマテリアのドレスを展示しています。
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 sd-scene-ct-4">
                <h2>
                    コース試食会
                </h2>
                <p>
                    レストランとして営業しているヴィラブランシュのコース試食を開催しています。通常ではご料金をいただくシェフ特製のコース試食会もビッグフェア限定で無料でご案内しています。是非お召し上がりください。
                </p>
            </div>
            <div class="col-md-6 sd-scene-img-ct-4">
                <img class="img-fluid" src="<!--#echo var='resourcePath'-->/img/parts/sd-scene-img-4.jpg" alt="image 1" />
            </div>
            <div class="col-md-6 sd-scene-ct-4-mobi">
                <h2>
                    コース試食会
                </h2>
                <p>
                    レストランとして営業しているヴィラブランシュのコース試食を開催しています。通常ではご料金をいただくシェフ特製のコース試食会もビッグフェア限定で無料でご案内しています。是非お召し上がりください。
                </p>
            </div>
        </div>

    </div>
</section>

<section id="dinner">
    <div class="container">
        <div class="col-md-12 dinner-content">
            <div class="col-md-12 sd-dn-title">
                <img class="img-fluid" src="<!--#echo var='resourcePath'-->/img/parts/sd-dinner-title.svg" alt="image 1" />
                <p>
                    18:00〜22:00
                </p>
                <p>
                    ヴィラブランシュでは、お客様のご要望に合わせたお料理をご提供させて頂きたいと思っておりますので、決まったメニューは“ディナーコース”と“アニバーサリーコース”の二つのみのご用意となります。シェフがお客様のご要望・ご予算・アレルギーなどに合わせて対応させて頂きますのでお気軽にご相談下さい。
                </p>
            </div>
            <!--'Slide-->
            <div class="row row-slide">
                <div class="col-md-12 sd-dn-slick-slider">
                    <a href="#">
                        <div class="col-12 sd-dn-slide-1">
                        </div>
                    </a>
                    <a href="#">
                        <div class="col-12 sd-dn-slide-2">
                        </div>
                    </a>
                    <a href="#">
                        <div class="col-12 sd-dn-slide-3">
                        </div>
                    </a>
                </div>
            </div>
            <!--'Slide-->
            <div class="col-md-12 sd-dn-image-1">
                <img class="img-fluid on-pc" src="<!--#echo var='resourcePath'-->/img/parts/sd-dn-slide-1.jpg" alt="image 1" />
                <img class="img-fluid on-mobi" src="<!--#echo var='resourcePath'-->/img/parts/sd-dn-slide-1.jpg" alt="image 1" />
            </div>
            <!--'IMAGE-->
            <div class="col-md-12 sd-dn-icon">
                <img class="img-fluid" src="<!--#echo var='resourcePath'-->img/parts/i-vertical-3cirkle.svg" alt="image 1" />
            </div>
            <!--'ICON-->
            <div class="col-md-12 sd-dn-btn">
                <a class="col-md-4 btn btn-green" href="#">
				 ディナーメニュー
				</a>
            </div>

            <div class="row sd-dn-content-image-2">
                <div class="col-md-12 sd-dn-content-style">
                    <div class="row">
                        <div class="col-md-6 sd-dn-image-2">
                            <img class="img-fluid" src="<!--#echo var='resourcePath'-->/img/parts/sd-dn-img-2.jpg" alt="image 1" />
                        </div>
                        <div class="col-md-6 sd-dn-img-text-2">
                            <h2>
                                アニバーサリープランについて
                            </h2>
                            <p>
                                食前酒にはシャンパンを、お名前入りのホールケーキに花束やプチギフトまで当店でご用意いたします。</br>
                                もちろん、記念撮影もスタッフにおまかせ下さい！
                            </p>
                        </div>
                    </div>
                    <p class="mobi-style">
                        <span>・メニューに含まれている花束はデザート時に、プチギフトはお帰りの際にお渡しします。</span></br>
                        <span>・その他サプライズ演出などございましたら、お気軽にスタッフにご相談下さい。</span></br>
                        <span>・ご予約は土日のみ、2日前までとさせていただきます。</span>
                    </p>
                    <div class="col-md-12 sd-dn-btn-md">
                        <a class="col-md-6 btn btn-green" href="#">プロポーズプランはこちら</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 sd-dn-img-text-3 ">
                <p>
                    心地良い空間と、美味しいお料理、そして大切なゲスト。それだけでも幸せを感じられる。
                </p>
            </div>

            <div class="row sd-dn-ct-img-3">
                <div class="col-md-12 sd-dn-image-3">
                    <img class="img-fluid" src="<!--#echo var='resourcePath'-->/img/parts/sd-dn-img-3.jpg" alt="image 1" />
                </div>
            </div>
        </div>
    </div>
</section>


<!--'THI-->
<section class="message bg">
    <div class="container">
        <div class="title">
            <img src="<!--#echo var='resourcePath'-->img/parts/message.svg" alt="">
            <span>スタッフからのメッセージ</span>
        </div>
        <div class="row mb-55 flex-row-reverse">
            <div class="col-md-4">
                <div class="image r-img">
                    <img src="<!--#echo var='resourcePath'-->img/parts/mes-img-01.jpg" alt="" class="img-fluid">
                    <div class="text">シェフ<span>田中 有</span></div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="text mb-25">「カラダに良いものをおいしく食べて幸せになってもらいたい」という想いで、一皿一皿愛情を込めてお作りしております。<br> テーマは『料理の中でも遊び心を忘れず』。新しい食材の組み合わせを考え、発見し、枠にとらわれすぎない料理を作っていきたいと思います。
                    <br> お料理でお客様のこだわりたい部分がございましたら、是非お気軽にご相談ください。
                </div>
                <div class="text bg-orange">
                    料理専門学校を卒業後、レストラン ビストロ オーベルジュで9年間勤務。<br> その後2年間ウエディングレストランにてウェディングに従事。
                    <br> 2011年 大阪茶屋町「PARTAGE」、2012年 神戸「MAISON DE PARTAGE」をシェフとして立ち上げ、2014年 神戸のフレンチ「VILLABLANCHE」も統括する総料理長に就任。<br> 司厨士協会のコンクールにて若年部、青年部での優勝入賞経験を持つ。
                    <br> また、ハーブコーディネーターフードコーディネーターなどの資格を持ち、食に対してあらゆる角度から取り組んでいる。
                    <br> 趣味は自転車と愛猫ショコラとたわむれる事と休みの昼間の一人ワイン
                </div>
            </div>
        </div>
        <div class="row mb-32">
            <div class="col-md-4">
                <div class="image text-center">
                    <img src="<!--#echo var='resourcePath'-->img/parts/mes-img-02.jpg" alt="" class="img-fluid">
                    <div class="text">ヴィラブランシュ 支配人、ソムリエ<span>高橋 篤史</span></div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="text mb-50">メッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージ（120〜150文字程度）
                </div>
                <div class="text bg-orange">
                    経歴や趣味について経歴や趣味について経歴や趣味について経歴や趣味について経歴や趣味について経歴や趣味について経歴や趣味について経歴や趣味について経歴や趣味について経歴や趣味について経歴や趣味について経歴や趣味について経歴や趣味について経歴や趣味について経歴や趣味について経歴や趣味について経歴や趣味について経歴や趣味について経歴や趣味について経歴や趣味について経歴や趣味について経歴や趣味について経歴や趣味について（文字数制限なし）
                </div>
            </div>
        </div>
        <div class="row mb-25 align-items-center">
            <div class="col-md-4">
                <div class="image">
                    <img src="<!--#echo var='resourcePath'-->img/parts/mes-img-03.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-8">
                <div class="title-sm">プランナー　<br class="d-md-none">お名前</div>
                <div class="text">メッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージ
                </div>
            </div>
        </div>
        <div class="row flex-row-reverse align-items-center">
            <div class="col-md-4">
                <div class="image r-img">
                    <img src="<!--#echo var='resourcePath'-->img/parts/mes-img-04.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-8">
                <div class="title-sm">プランナー　<br class="d-md-none">お名前</div>
                <div class="text">メッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージメッセージ
                </div>
            </div>
        </div>
    </div>
</section>
<section class="list-link">
    <div class="container">
        <div class="list-form text-center">
            <div class="contact-form">
                <div class="title">
                    <div><img src="<!--#echo var='resourcePath'-->img/parts/contact-form.svg" alt=""></div>
                </div>
                <div class="text">ご予約・お問い合わせはこちらから</div>
                <div class="contact-info">
                    <a href="tel:0782916653" class="tel">078-291-6653</a>
                    <span class="button-text text-center"><a href="#" class="btn btn-green">form</a></span>
                </div>
            </div>
            <div class="contact-form">
                <div class="title">
                    <div><img src="<!--#echo var='resourcePath'-->img/parts/contact-form.svg" alt=""></div>
                </div>
                <div class="text">ご予約・お問い合わせはこちらから</div>
                <div class="contact-info">
                    <span class="text"><strong>＜ブライダル直通＞</strong></span>
                    <a href="tel:0782916653" class="tel">078-291-6653</a>
                    <span class="button-text text-center"><a href="#" class="btn btn-green">form</a></span>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-12">
                <div class="item-link d-flex align-items-center">
                    <img src="<!--#echo var='resourcePath'-->img/top/slideshowph1-00@2x.png" alt="" class="img-item">
                    <div class="content">
                        <img src="<!--#echo var='resourcePath'-->img/top/title-link-01.svg" alt="" class="img-fluid">
                        <div class="text">三宮のドレスショップ</div>
                    </div>
                    <a href="#" class="link-to"></a>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="item-link d-flex align-items-center">
                    <img src="<!--#echo var='resourcePath'-->img/top/slideshowph1-07@2x.png" alt="" class="img-item">
                    <div class="content">
                        <img src="<!--#echo var='resourcePath'-->img/top/title-link-02.svg" alt="" class="img-fluid">
                        <div class="text">三宮のフラワーショップ</div>
                    </div>
                    <a href="#" class="link-to"></a>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="item-link d-flex align-items-center">
                    <img src="<!--#echo var='resourcePath'-->img/top/slideshowph1-01@2x.png" alt="" class="img-item">
                    <div class="content">
                        <img src="<!--#echo var='resourcePath'-->img/top/title-link-03.svg" alt="" class="img-fluid">
                        <div class="text">地下の隠れ家レストラン</div>
                    </div>
                    <a href="#" class="link-to"></a>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="item-link d-flex align-items-center">
                    <img src="<!--#echo var='resourcePath'-->img/top/slideshowph1-00@2x.png" alt="" class="img-item">
                    <div class="content">
                        <img src="<!--#echo var='resourcePath'-->img/top/title-link-04.svg" alt="" class="img-fluid">
                        <div class="text">淡路島の秘密基地</div>
                    </div>
                    <a href="#" class="link-to"></a>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="item-link d-flex align-items-center">
                    <img src="<!--#echo var='resourcePath'-->img/top/slideshowph1-07@2x.png" alt="" class="img-item">
                    <div class="content">
                        <img src="<!--#echo var='resourcePath'-->img/top/title-link-05.svg" alt="" class="img-fluid">
                        <div class="text">須磨離宮公園のレストラン</div>
                    </div>
                    <a href="#" class="link-to"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--#include virtual="./ssi/footer.html"-->