.btn {
    border-radius: 0;
    outline: 0;
    border: 0;
    box-shadow: none;
}

.btn-green {
    font-family: 'Avenir Next';
    font-weight: 500;
    position: relative;
    background-color: $green-color;
    color: $gray-background;
    padding: 9px 20px 14px;
    min-width: 197px;
    font-size: 15px;
    @include media-breakpoint-down(sm) {
        padding: 12px 20px 24px;
        display: block;
        max-width: 302px;
        margin: 0 auto;
        color: $gray-background!important;
    }
    &::after {
        content: "";
        position: absolute;
        background-image: url('./../img/top/line-button.svg');
        width: 15px;
        height: 1px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 12px;
        transition: width .3s;
        @include media-breakpoint-down(sm) {
            bottom: 18px;
            background-image: url('./../img/top/line-button-hover-sp.svg');
            width: 223px;
            height: 7px;
        }
    }
}

@include media-breakpoint-up(md) {
    .btn-green {
        &:hover {
            color: $gray-background;
            &::after {
                background-image: url('./../img/top/line-button-hover.svg');
                width: 118px;
                height: 7px;
                transition: width .3s;
                @include media-breakpoint-down(sm) {
                    background-image: url('./../img/top/line-button-hover-sp.svg');
                    width: 223px;
                    bottom: 18px;
                }
            }
        }
    }
}