.copyright {
    background-color: $green-color;
    font-size: 12px;
    line-height: 26px;
    padding: 3px 0;
    color: #fff;
    @include media-breakpoint-down(md) {
        padding: 8px 0;
    }
}

footer .footer-logo {
	max-width: 212px;
	width: 100%;
}

.pre-footer {
    padding: 40px 0;
    background-image: url(./../img/ssi/bg-footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    a {
        color: inherit;
    }
    .footer-logo {
        margin-bottom: 35px;
    }
    .text-img {
        margin-bottom: 25px;
    }
    .chev-item {
        margin-bottom: 10px;
        margin-left: -4px;
        .chev {
            margin-right: 3px;
        }
    }
    .sub-chev {
        margin-left: 12px;
        .chev-item {
            margin-bottom: 4px;
        }
    }
    .text-ico {
        position: relative;
        img {
            position: absolute;
            left: 0;
            top: 4px;
        }
        .text {
            padding-left: 25px;
            margin-bottom: 15px;
            &.clock {
                font-weight: 200;
            }
        }
    }
}

.pre-fotter-sp {
    background-image: url(./../img/ssi/bg-footer-sp.jpg);
    padding: 55px 0 60px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    margin-bottom: -1px;
    a {
        color: inherit;
        display: inline-block;
    }
    .footer-logo {
        margin-bottom: 24px;
    }
    .text {
        margin-bottom: 10px;
    }
    .text-ico {
        align-items: flex-start;
        text-align: left;
        img {
            margin-right: 15px;
            margin-top: 3px;
        }
        .text {
            font-size: 14px;
            line-height: 26px;
            margin-bottom: 9px;
            &.clock {
                font-weight: 200;
            }
        }
    }
    .text-social {
        font-size: 14px;
        margin-top: 30px;
        font-family: 'Avenir Next';
        font-weight: normal;
        img {
            margin-left: 5px;
        }
        .mr-25 {
            margin-right: 25px;
        }
        .mr-8 {
            margin-right: 8px;
            img {
                margin-left: 8px;
            }
        }
    }
    .text-location {
        max-width: 295px;
        margin: 27px auto 0;
    }
    .text-tel {
        font-size: 32px;
        margin-bottom: 10px;
        img {
            margin-top: -6px;
            margin-right: 5px;
        }
        span {
            display: block;
            font-weight: bold;
            font-size: 14px;
        }
    }
}

.page-top {
    padding: 25px 0;
    background-color: $green-color;
    text-align: center;
}