@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";


@mixin content-position($type: "both") {
  position: absolute;

  @if $type == "middle" {
    top: 50%;
    transform: translateY(-50%);
  } @else if $type == "center" {
    left: 50%;
    transform: translateX(-50%);
  } @else {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin media-breakpoint-down-xxs {
  @media (max-width: 359.98px) {
    @content;
  }
}