/*--------- header ---------*/

header {

  .navbar {
    padding: 18px 0 18px;
    background: $gray-background;
    flex-flow: row wrap;

    &.show-nav-sp {
      display: block;
      overflow: scroll;
      height: 100%;
    }

    > .container {
      position: relative;
    }

    @include media-breakpoint-down(md) {
      padding: 0;
      height: 60px;
    }

    //BRAND
    .navbar-brand {

      @include media-breakpoint-down(md) {
        margin-left: 17px;
      }

      img {
		height: 40px;

        @include media-breakpoint-down(xs) {
          height: 30px;
        }

        @media (max-width: 360px) {
          height: 20px;
        }
      }
    }

    //TOGGLER
    .navbar-toggler {
      position: relative;
      height: 60px;
      width: 60px;
      font-size: 10px;
      border-radius: 0;

      &:focus {
        outline: 0;
      }

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;

        margin-top: -.25rem;
        transform: translate(-50%, -50%);
        background-size: cover;
      }

      &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: .9rem;
      }

      //COLLAPSED
      &[aria-expanded="false"] {
        background-color: $white-color;

        &:before {
          background: url("../img/ssi/menu.svg") no-repeat;
          height: 12px;
          width: 18px;
        }
        &:after {
          content: "MENU";
        }
      }

      //OPENED
      &[aria-expanded="true"] {
        background-color: $white-color;

        &:before {
          background: url("../img/ssi/close.svg") no-repeat;
          height: 14px;
          width: 14px;
        }
        &:after {
          content: "CLOSE";
        }
      }
    }

    //PC FUNC
    .pc-func {

      .green-btn {
        background: $green-color;
        color: $gray-background;
        font-size: 12px;
        line-height: 16px;
        padding: 5px 15px 5px;
        text-decoration: none;
        margin-right: 20px;

        &:hover {
          background: lighten($green-color,5%);
        }
      }

      .wedding {

        span {
          font-family: $font-family-avenir;
          padding-right: 5px;
        }

        img {

          &:hover {
            opacity: 0.8;
          }
        }
      }

      .restaurant {

        span {
          font-family: $font-family-avenir;
          padding-right: 5px;
        }

        .insta {
          padding-right: 5px;
        }

        img {

          &:hover {
            opacity: 0.8;
          }
        }
      }

      .sep {
        width: 1px;
        height: 26px;
        background: transparentize($green-color, 0.5);
        margin: 0 20px 0;

      }
    }

    //PC MENU
    .pc-menu {
      width: 100%;
      margin-top: 17px;
      padding-left: 30px;

      .item {
        color: $text-color;
        text-decoration: none;
        margin-left: 30px;

        &:first-child {
          margin-left: 0;
        }

        &:hover {
          color: $green-color;
        }
      }
    }

    //SP FUNC
    .sp-func {
      position: absolute;
      right: 73px;
      top: 8px;

      .green-btn {
        background: $green-color;
        color: $gray-background;
        font-size: 14px;
        line-height: 34px;
        padding: 5px 15px 5px;
        text-decoration: none;

        &:hover {
          background: lighten($green-color,5%);
        }

        @media (max-width: 400px) {
          font-size: 12px;
        }
      }
    }

    //SP MENU
    .sp-menu {
      background: $white-color;

      .hide {
        display: none;
      }

      .line-fix {
        display: none;

        @media (max-width: 380px) {
          display: block;
        }
      }

      .linkrow {
        overflow: hidden;
        border-bottom: 1px solid $gray-background;

        .linkcol {
          display: block;
          width: 50%;
          float: left;
          padding: 27px 16px 27px;
          color: $text-color;
          text-decoration: none;
          position: relative;

          &.linkcol01 {
            border-right: 1px solid $gray-background;
          }

          .chev {
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translate(0,-50%);
          }

          span {
            font-size: 12px;
          }
        }

        &.linkrow-sub {
          background: transparentize($gray-background, 0.6);
        }
      }

      .linkrow-s {
        position: relative;
        border-bottom: 1px solid $gray-background;
        overflow: hidden;

        a {
          color: $text-color;
          text-decoration: none;
          font-size: 12px;
          display: block;
          width: 50%;
          float: left;
          padding: 27px 16px 27px;
          color: $text-color;
          text-decoration: none;
          position: relative;

          span {
            font-size: 12px;
          }
        }

        .toggle-sign {
          width: 50%;
          float: left;
          cursor: pointer;
          height: 80px;

          img {
            position: absolute;
            right: 25px;
            top: 50%;
            transform: translate(0,-50%);
            cursor: pointer;
            width: 16px;
          }

        }
      }

      //CONTACT
      .contact {
        background: $gray-background;
        padding: 30px 0 40px;

        .line01 {
          font-size: 13px;
          font-weight: bold;
          text-align: center;
        }

        .phone {
          text-align: center;
          margin-top: 10px;
          margin-bottom: 20px;

          img {
            position: relative;
            top: -5px;
          }

          span {
            font-size: 26px;
            line-height: 1em;
            font-family: $font-family-futura;
          }

          div {
            font-size: 11px;
            line-height: 1em;
          }
        }

        .social {
          text-align: center;

          span {
            font-size: 11px;
            font-family: $font-family-avenir;
          }

          .insta {
            padding-left: 10px;

            img {
              height: 24px;
              width: auto;
            }
          }

          .fb {
            padding-left: 10px;

            img {
              height: 24px;
              width: auto;
            }
          }

          .restaurant {
            padding-left: 20px;
          }
        }
      }
    }
  }
}

/*-------- //header --------*/