/*---- slider ----*/

.main-slider-section {
    background: $gray-background;
    position: relative;
    .slider-title {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        max-width: 80%;
    }
    .scroll-sign {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 20px;
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
}

.main-slider {
    max-width: 1320px;
    margin: auto;
    position: relative;
}

.main-slider .slider-item .item-wrap {
    position: relative;
    height: 600px;
    width: 100%;
}

@media (max-width: 767.98px) {
    .main-slider .slider-item .item-wrap {
        height: auto;
        padding-top: 160%;
    }
}

.main-slider .slider-item .item-wrap .title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 35px;
}

.main-slider .slider-item .item-wrap .title p {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 360px;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    text-align: left;
    color: #FFFFFF;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.main-slider .slider-item .item-wrap .title .btn {
    position: relative;
    padding: 17px 15px;
    width: 360px;
    border: 1px solid #FFFFFF;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
    color: #FFFFFF;
}

.main-slider .slider-item .item-wrap .title .btn:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    height: 12px;
    width: 7px;
    margin-top: -1px;
    background: url(../img/chevron-right.svg) no-repeat;
    background-size: cover;
}

.main-slider .slider-item .item-wrap .title .btn:hover {
    background-color: #FFFFFF;
    color: #005c92;
}

.main-slider .slider-item .item-wrap .title .btn:hover:after {
    background: url("../img/chevron-right-primary.svg") no-repeat;
    background-size: cover;
}

@media (max-width: 767.98px) {
    .main-slider .slider-item .item-wrap .title {
        top: 0;
        left: 15px;
        right: 15px;
        bottom: 80px;
        transform: translateY(0);
    }
    .main-slider .slider-item .item-wrap .title img {
        width: 100%;
    }
    .main-slider .slider-item .item-wrap .title p {
        max-width: none;
        margin-left: 10px;
        margin-right: 10px;
    }
    .main-slider .slider-item .item-wrap .title .btn {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px 15px;
    }
}

.main-slider .slider-item .item-wrap.img1 {
    background: url("../img/top/slider01.png") no-repeat top center;
    background-size: cover;
}

@media (max-width: 767.98px) {
    .main-slider .slider-item .item-wrap.img1 {
        background: url("../img/top/slider01-sp.png") no-repeat top center;
        background-size: cover;
    }
}

.main-slider .slider-item .item-wrap.img2 {
    background: url("../img/top/slider02.png") no-repeat top center;
    background-size: cover;
}

@media (max-width: 767.98px) {
    .main-slider .slider-item .item-wrap.img2 {
        background: url("../img/top/slider02-sp.png") no-repeat top center;
        background-size: cover;
    }
}

.main-slider .slider-item .item-wrap.img3 {
    background: url("../img/top/slider03.png") no-repeat top center;
    background-size: cover;
}

@media (max-width: 767.98px) {
    .main-slider .slider-item .item-wrap.img3 {
        background: url("../img/top/slider03-sp.png") no-repeat top center;
        background-size: cover;
    }
}

.main-slider .slider-item:focus {
    outline: none;
}

.main-slider .slick-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
    margin: 0;
    padding: 0;
    width: 894px;
}

.main-slider .slick-dots li {
    position: relative;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.main-slider .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 8px;
    height: 8px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.main-slider .slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    content: '';
    text-align: center;
    background: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: .75;
}

.main-slider .slick-dots li.slick-active button:before {
    background: #628370;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .main-slider .slick-dots {
        width: calc(100% - 30px);
    }
}

@media (max-width: 767.98px) {
    .main-slider .slick-dots {
        width: auto;
        bottom: 50px;
    }
}


/*--- //slider ---*/


/*--------- ABOUT ---------*/

#about {
    background-color: $gray-background;
    font-family: $font-family;
    p {
        margin-bottom: 15px;
    }
    h2 {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 0;
        @include media-breakpoint-down(sm) {
            line-height: 34px;
            font-size: 20px;
            line-height: 36px;
        }
    }
    .arw-title-row {
        position: relative;
    }
    .arw-title {
        text-align: center;
        padding-top: 40px;
        margin-bottom: 17px;
        @include media-breakpoint-down(sm) {
            padding-top: 32px;
            margin-bottom: 8px;
        }
    }
    .arw-img-1 {
        margin-bottom: 44px;
        .on-mobi {
            display: none;
        }
        @include media-breakpoint-down(sm) {
            margin-right: -15px;
            margin-left: -15px;
            margin-bottom: 34px;
            .on-pc {
                display: none;
            }
            .on-mobi {
                display: block;
            }
        }
    }
    .arw-ct-title {
        font-family: $font-noto;
        text-align: center;
        .on-mobi {
            display: none;
        }
        @include media-breakpoint-down(sm) {
            .on-pc {
                display: none;
            }
            .on-mobi {
                display: block;
            }
        }
    }
    .arw-ct {
        font-size: 15px;
        text-align: center;
        margin-bottom: 28px;
        .on-mobi {
            display: none;
        }
        @include media-breakpoint-down(sm) {
            .on-pc {
                display: none;
            }
            .on-mobi {
                display: block;
            }
            padding-left: 28px;
            padding-right: 28px;
            font-size:16px;
            font-weight: 500;
            line-height:28px;
            margin-bottom: 23px;
        }
    }
    .arw-icon {
        text-align: center;
        margin-top: 25px;
        @include media-breakpoint-down(sm) {
            margin-top: 20px;
        }
    }
    //ABT ICON
    .arw-btn {
        text-align: center;
        margin-top: 19px;
        padding-bottom: 70px;
        .btn-white {
            font-family: 'Avenir Next';
            font-weight: 500;
            position: relative;
            padding: 9px 20px 14px;
            min-width: 197px;
            font-size: 15px;
            color: $green-color;
            &::after {
                content: "";
                position: absolute;
                background-image: url(./../img/top/abt-btn-before-hover.svg);
                width: 15px;
                height: 1px;
                left: 50%;
                bottom: 12px;
                transform: translateX(-50%);
                transition: width .3s;
                @include media-breakpoint-down(sm) {
                    width: 118px;
                    height: 7px;
                    background-image: url(./../img/top/abt-btn-after-hover.svg);
                }
            }
            &:hover {
                &::after {
                    width: 118px;
                    height: 7px;
                    background-image: url(./../img/top/abt-btn-after-hover.svg);
                }
            }
        }
    }
    //ABT BTN
}


/*-------- //ABOUT --------*/


/*--------- RESTAURANT ---------*/

#restaurant {
    @extend #about;
    background-image: url("./../img/top/bg-restaurant.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: $font-family;
    .arw-title {
        padding-top: 98px;
        margin-bottom: 22px;
        @include media-breakpoint-down(sm) {
            padding-top: 73px;
            margin-bottom: 18px;
        }
    }
    .arw-ct-title {
        text-align: center;
        margin-bottom: 33px;
        @include media-breakpoint-down(sm) {
            margin-bottom: 25px;
        }
    }
    .arw-img-1 {
        margin-bottom: 33px;
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
    //SLIDE
    .slide-reponsive {
        @include media-breakpoint-down(sm) {
            padding-right: 0px;
            padding-left: 0px;
        }
    }
    .restr-slick-slide {
        @include media-breakpoint-up(md) {
            display: none;
        }
        margin-bottom:39px;
        padding:0;
        .slick-dots {
            list-style: none;
            font-size: 0;
            display: flex;
            position: absolute;
            bottom: 0;
            padding: 20px;
            width: 100%;
            justify-content: center;
            margin: 0;
            li {
                border-radius: 50%;
                width: 16px;
                height: 16px;
                position: relative;
                margin-left: 8px;
                &::before {
                    content: "";
                    background-image: url("./../img/top/li-slide.png");
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 16px;
                    width: 100%;
                }
                &.slick-active button {
                    border-radius: 50%;
                    padding: 4px;
                    height: 8px;
                    background-color: #EDEDED;
                    border-style: none;
                    margin-top: 4px;
                    margin-left: 4px;
                    position: absolute;
                    display: block;
                }
                button {
                    background-color: transparent;
                    border-style: none;
                }
            }
        }
        .restr-slide-1 {
            background-image: url("./../img/top/restr-mb-title.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding-top: 66.67%;
        }
        .restr-slide-2 {
            background-image: url("./../img/top/restr-mb-title.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding-top: 66.67%;
        }
        .restr-slide-3 {
            background-image: url("./../img/top/restr-mb-title.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding-top: 66.67%;
        }
    }
    //SILDE
    .arw-table {
        margin-bottom: 33px;
        @include media-breakpoint-down(sm) {
            margin-bottom: 29px;
            padding-left: 35px;
            padding-right: 35px;
        }
    }
    .restr-vertical {
        position: relative;
        left: -5px;
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
    .restr-vertical-mb {
        display: none;
        @include media-breakpoint-down(sm) {
            display: block;
            margin: -1px auto;
        }
    }
    .table-style {
        padding-top: 28px;
        padding-bottom: 11px;
        text-align: center;
        background-color: #EAC3A6;
        background-size: cover;
        @include media-breakpoint-down(sm) {
            padding-top: 40px;
            padding-bottom: 5px;
        }
        p:first-child {
            font-family: "Avenir Next";
            font-weight: 500;
            font-size: 20px;
            color: #606060;
            margin-bottom: 5px;
            letter-spacing: 0.2em;
            @include media-breakpoint-down(sm) {}
        }
        p:last-child {
            font-family: "Avenir Next";
            font-weight: bold;
            font-size: 15px;
            @include media-breakpoint-down(sm) {
                margin-bottom: 16px;
            }
        }
    }
    .table-style:nth-of-type(2) {
        margin-right: -1px;
        margin-left: -1px;
        @include media-breakpoint-down(sm) {
            padding-top: 25px;
        }
    }
    .table-style:nth-of-type(3) {
        @include media-breakpoint-down(sm) {
            padding-top: 15px;
            padding-bottom: 30px;
        }
    }
    .arw-icon {
        margin-bottom: 28px;
    }
    .arw-btn {
        padding-bottom: 80px;
        @include media-breakpoint-down(sm) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}


/*-------- //section #2 --------*/


/*---- news bar ----*/

.news-bar {
    background: $gray-background;
    padding: 20px 0 20px;
    .news-bar-inner {
        background: $white-color;
        overflow: hidden;
        max-width: 1320px;
        margin: auto;
        height: 70px;
        @media (max-width: 767px) {
            height: auto;
        }
    }
    .news-text-title {
        float: left;
        position: relative;
        top: 18px;
        @media (max-width: 767px) {
            display: none;
        }
    }
    .sep {
        width: 1px;
        height: 40px;
        background: transparentize($green-color, 0.7);
        float: left;
        position: relative;
        top: 17px;
        margin-left: 26px;
        margin-right: 26px;
        @media (max-width: 767px) {
            display: none;
        }
    }
    .date {
        float: left;
        position: relative;
        top: 23px;
        @media (max-width: 767px) {
            top: 14px;
        }
    }
    .tag {
        float: left;
        font-size: 12px;
        background: $green-color;
        color: $white-color;
        display: inline-block;
        line-height: 1em;
        padding: 2px 7px 2px;
        position: relative;
        top: 28px;
        margin-left: 22px;
        margin-right: 10px;
        @media (max-width: 767px) {
            top: 19px;
        }
    }
    .news-title {
        float: left;
        position: relative;
        top: 23px;
        @media (max-width: 767px) {
            clear: both;
            top: 0;
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }
    .btn-green {
        float: right;
        padding: 20px 20px 28px;
        &:after {
            bottom: 26px;
        }
        @media (max-width: 767px) {
            position: relative;
            float: none;
            clear: both;
            max-width: none;
            width: calc(100% + 30px);
            left: -15px;
        }
    }
}


/*--- //news bar ---*/

// party-event css
.party-event {
    background-image: url(./../img/top/bg-party-event.jpg);
    padding: 55px 0 70px;
    @include media-breakpoint-down(sm) {
        padding: 38px 0 55px;
    }
    .row-item {
        padding-top: 35px;
        @include media-breakpoint-down(sm) {
            padding-top: 45px;
        }
        &.flex-row-reverse {
            .img-item {
                margin-top: 20px;
            }
            p {
                margin-bottom: 25px;
            }
            .line-dot {
                margin-bottom: 30px;
            }
        }
    }
    .img-item {
        margin-top: 14px;
        @include media-breakpoint-down(sm) {
            margin: 23px -15px 35px;
            text-align: center;
        }
    }
    .title {
        margin-bottom: 15px;
        @include media-breakpoint-down(sm) {
            margin-bottom: 25px;
            text-align: center;
        }
    }
    p {
        margin-bottom: 15px;
        @include media-breakpoint-down(sm) {
            margin: 0 30px 23px;
        }
    }
    .line-dot {
        margin-bottom: 40px;
        @include media-breakpoint-down(sm) {
            margin-bottom: 28px;
        }
    }
    hr {
        border-top: 1px solid $text-color;
        opacity: 0.5;
        margin-top: 30px;
        margin-bottom: 5px;
    }
}

// news css
.news {
    padding: 80px 0;
    background-image: url(./../img/top/bg-news.jpg);
    @include media-breakpoint-down(sm) {}
    ;
    .news-content {
        position: relative;
    }
    .content-left {
        position: absolute;
        left: 0;
        top: 50px;
        width: 200px;
        .title,
        .line-dot {
            margin-bottom: 38px;
            @include media-breakpoint-down(sm) {
                margin-bottom: 25px;
            }
        }
        @include media-breakpoint-down(sm) {
            position: static;
            width: auto;
            top: auto;
            text-align: center;
        }
    }
    .box-white {
        background-color: $white-background;
        padding: 15px 40px 40px;
        @include media-breakpoint-down(sm) {
            padding: 15px 20px 20px;
            margin-bottom: 30px;
        }
    }
    .content-right {
        @include media-breakpoint-up(md) {
            padding-left: 228px;
            margin: 0 5px;
        }
        .row-news {
            position: relative;
            border-bottom: 1px dashed $green-color;
            padding-top: 20px;
            padding-bottom: 8px;
            &:last-child {
                @include media-breakpoint-down(sm) {
                    border-bottom: none;
                }
            }
            @include media-breakpoint-down(sm) {
                padding: 18px 10px 13px;
            }
        }
        .arrow {
            position: absolute;
            right: 0;
            bottom: 22px;
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
        .text-day {
            font-family: 'Futura';
            font-weight: 500;
            font-size: 16px;
            line-height: 34px;
            text-align: left;
            margin-right: 17px;
            @include media-breakpoint-down(sm) {
                margin-right: 11px;
            }
        }
        .text-bg {
            background-color: $green-color;
            color: $gray-background;
            font-weight: 500;
            font-size: 12px;
            padding: 2px 4px;
            margin-right: 7px;
            border-radius: 1px;
            @include media-breakpoint-down(sm) {
                font-size: 14px;
                padding: 1px 4px;
            }
        }
        .text-sub {
            @include media-breakpoint-down(sm) {
                display: block;
                font-size: 16px;
                margin-top: 3px;
            }
        }
    }
}

// access css
.access {
    padding: 80px 0;
    .title {
        margin-bottom: 40px;
        @include media-breakpoint-down(sm) {
            text-align: center;
            margin-bottom: 35px;
        }
    }
    .item-map {
        position: relative;
        height: 350px;
        margin-top: 22px;
        margin-bottom: 32px;
        @include media-breakpoint-down(sm) {
            margin-top: 32px;
        }
    }
    .line-dot {
        margin-bottom: 28px;
    }
    .bg-map {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-position: center center;
    }
}

// contact-form
.contact-form {
    padding: 27px 0;
    max-width: 740px;
    margin: 0 auto;
    background-color: $white-background;
    border: 10px solid #eac3a6;
    margin-top: 60px;
    @include media-breakpoint-down(sm) {
        margin: 60px 27px 0;
        position: relative;
        padding: 40px 0;
    }
    .title {
        margin-bottom: 15px;
    }
    .text {
        margin-bottom: 5px;
        @include media-breakpoint-down(sm) {
            margin-bottom: 9px;
            padding: 0 15px;
        }
    }
    .contact-info {
        a {
            @include media-breakpoint-up(md) {
                display: inline-block;
                vertical-align: middle;
            }
        }
        .tel {
            font-family: $font-family-futura;
            font-size: 28px;
            color: inherit;
            text-decoration: none;
            @include media-breakpoint-up(md) {
                margin-right: 35px;
            }
            @include media-breakpoint-down(sm) {
                font-size: 32px;
                margin-bottom: 23px;
                display: inline-block;
            }
        }
        .btn-green {
            &::after {
                @include media-breakpoint-down(sm) {
                    background-image: url('./../img/top/line-button-hover-form-sp.svg');
                    width: 145px;
                }
            }
            @include media-breakpoint-down(sm) {
                margin: 0 30px;
            }
            @media (max-width: 350px) {
                margin: 0 15px;
            }
        }
        .button-text {
            @include media-breakpoint-down(sm) {
                display: block;
                margin: 0 auto;
                max-width: 300px;
            }
        }
    }
}


/*--------- WEDDING ---------*/

#wedding {
    @extend #about;
    .wedding-container {
        padding-left: 20px;
        padding-right: 20px;
    }
    p {
        margin-bottom: 20px;
    }
    .within-table {
        background-image: url("./../img/top/bg-table-wedding.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: drop-shadow(10px 10px 25px rgba(0, 0, 0, 0.16));
        margin-top: 80px;
        @include media-breakpoint-up(xl) {
            max-width: 834px;
        }
        margin-bottom:107px;
        @include media-breakpoint-down(sm) {
            margin-bottom: 47px;
            margin-top: 47px;
        }
        .table-webding {
            position: relative;
            .flower-1 {
                position: absolute;
                top: -73px;
                left: -45px;
                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }
            .flower-2 {
                position: absolute;
                bottom: -53px;
                right: -29px;
                @include media-breakpoint-down(md) {
                    right: -35px !important;
                }
                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }
            .flower-1-mb {
                @include media-breakpoint-up(md) {
                    display: none;
                }
                @include media-breakpoint-down(sm) {
                    background-image: url("./../img/top/tsuta-top-mb.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    display: block;
                    position: absolute;
                    top: -62px;
                    left: -36px;
                    padding-top: 38.47%;
                }
            }
            .flower-2-mb {
                @include media-breakpoint-up(md) {
                    display: none;
                }
                @include media-breakpoint-down(sm) {
                    background-image: url("./../img/top/tsuta-bottom-mb.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    display: block;
                    position: absolute;
                    bottom: -44px;
                    right: -32px;
                    padding-top: 38.47%;
                    @include media-breakpoint-down(sm) {}
                }
            }
            .arw-title {
                margin-bottom: 9px;
                padding-top: 44px;
                @include media-breakpoint-down(sm) {
                    padding-top: 41px;
                    margin-bottom: 22px;
                }
            }
            .arw-img-1 {
                text-align: center;
                margin-bottom: 32px;
                @include media-breakpoint-down(sm) {
                    padding-right: 0;
                    padding-left: 0;
                    margin-left: 0;
                    margin-right: 0;
                    margin-bottom: 35px;
                }
                .on-pc {
                    @include media-breakpoint-down(sm) {
                        display: none;
                    }
                }
                .on-mobi {
                    @include media-breakpoint-up(md) {
                        display: none;
                    }
                    @include media-breakpoint-down(sm) {
                        display: block;
                    }
                }
            }
            .arw-ct-title {
                margin-bottom: 16px;
                @include media-breakpoint-down(sm) {
                    margin-bottom: -10px;
                }
                h2 p {
                    font-family: $font-noto;
                    span {
                        line-height: 38px;
                    }
                }
            }
            .arw-ct {
                margin-bottom: 27px;
                @include media-breakpoint-down(sm) {
                    padding-left: 24.5px;
                    padding-right: 24.5px;
                    margin-bottom: 24px;
                }
            }
            .arw-icon {
                margin-bottom: 19px;
                @include media-breakpoint-down(sm) {}
            }
            .arw-btn {
                padding-bottom: 51px;
                @include media-breakpoint-down(sm) {
                    padding-bottom: 50px;
                }
            }
        }
    }
}


/*-------- //WEDDING --------*/

//list-link
.list-link {
    background-color: $gray-background;
    padding: 60px 0 45px;
    @include media-breakpoint-down(md) {
        padding: 42px 0 20px;
    }
    .item-link {
        position: relative;
        background-color: #fff;
        border: 1px solid rgba(96, 96, 96, .5);
        width: 278px;
        margin-bottom: 30px;
        @include media-breakpoint-down(md) {
            margin: 0 auto 20px;
        }
        &:before,
        &:after {
            content: '';
            border-style: solid;
            position: absolute;
            z-index: 5;
            box-sizing: content-box;
            border-color: $green-color;
            transition: all 0.3s;
        }
        &:before {
            width: 0;
            height: 100%;
            border-width: 1px 0 1px 0;
            top: -1px;
            left: 0;
            transition-delay: 0.05s;
        }
        &:after {
            width: 100%;
            height: 0;
            border-width: 0 1px 0 1px;
            top: 0;
            left: -1px;
        }
        &:hover {
            &:before {
                width: 100%;
            }
            &:after {
                height: 100%;
            }
        }
        .img-item {
            flex: 0 0 78px;
            max-width: 78px;
        }
        .content {
            flex: 0 0 calc(100% - 78px);
            max-width: calc(100% - 78px);
            padding: 0 5px;
            text-align: center;
            @include media-breakpoint-down(sm) {
                padding: 0;
            }
        }
    }
}


/*--------------------- Google map api -----------------------------*/
#map {
    height: 350px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    background: url("../img/top/map-bg.jpg") no-repeat top center;
    background-size: cover;

    a[href^="http://maps.google.com/maps"],
    a[href^="https://maps.google.com/maps"],
    a[href^="https://www.google.com/maps"] {
        display: none !important;
    }

    .gm-bundled-control .gmnoprint {
        display: block;
    }
    .gmnoprint:not(.gm-bundled-control) {
        display: none;
    }

}

/*--------------------- //Google map api -----------------------------*/