/*--------- section #1 ---------*/

#scene {
    p {
        margin-bottom: 15px;
        @include media-breakpoint-down(sm) {
            margin-bottom: 10px;
        }
    }
    h2 {
        font-size: 24px;
        margin-bottom: 15px;
        @include media-breakpoint-down(sm) {
            font-size: 16px;
        }
    }
    background-image: url("./../img/parts/sd-scene-bg.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    .sd-scene-title {
        text-align: center;
        padding-top: 110px;
        margin-bottom: 48px;
        @include media-breakpoint-down(sm) {
            padding-top: 82px;
            margin-bottom: 29px;
        }
    }
    .sd-scene-ct-1 {
        color: $text-color;
        padding-top: 11%;
        @include media-breakpoint-down(sm) {
            text-align: center;
            padding-top: 40px;
            margin-bottom: 47px;
        }
        h2 {
            font-family: "Adobe Garamond Pro";
            font-weight: normal;
            margin-bottom: 11px;
            @include media-breakpoint-down(sm) {
                font-family: $font-noto;
                font-weight: 500;
                margin-bottom: 9px;
            }
        }
        p {
            font-family: $font-noto;
            font-weight: 500;
            font-size: 24px;
            @include media-breakpoint-down(sm) {
                font-family: $font-noto;
                font-weight: 500;
                font-size: 20px;
            }
        }
    }
    .sd-scene-img-ct-1 {
        margin-bottom: 24px;
        @include media-breakpoint-down(sm) {
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 0;
            text-align: center;
        }
    }
    .sd-scene-ct-2 {
        font-family: "Adobe Garamond Pro";
        font-weight: normal;
        color: $text-color;
        padding-top: 90px;
        @include media-breakpoint-down(sm) {
            display: none;
        }
        p {
            font-family: $font-noto;
            font-weight: 500;
            font-size: 24px;
        }
    }
    .sd-scene-ct-2-mobi {
        display: none;
        @include media-breakpoint-down(sm) {
            display: block;
            text-align: center;
            margin-bottom: 45px;
            h2 {
                font-family: $font-noto;
                font-weight: 500;
                margin-bottom: 11px;
            }
            p {
                font-family: $font-noto;
                font-weight: 500;
                font-size: 20px;
            }
        }
    }
    .sd-scene-img-ct-2 {
        margin-bottom: 34px;
        @include media-breakpoint-down(sm) {
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 40px;
            text-align: center;
        }
    }
    .sd-scene-ct-3 {
        font-family: $font-noto;
        font-weight: normal;
        color: $text-color;
        padding-top: 55px;
        @include media-breakpoint-down(sm) {
            text-align: center;
            padding-left: 35px;
            padding-right: 35px;
            padding-top: 16px;
            margin-bottom: 44px;
        }
        h2 {
            margin-bottom: 22px;
            @include media-breakpoint-down(sm) {
                font-family: $font-noto;
                font-weight: 500;
                font-size: 20px;
            }
        }
        p {
            font-family: YuGothic;
            font-weight: 500;
            font-size: 15px;
            @include media-breakpoint-down(sm) {
                font-family: YuGothic;
                font-weight: 500;
                font-size: 16px;
                text-align: left;
            }
        }
    }
    .sd-scene-img-ct-3 {
        margin-bottom: 25px;
        @include media-breakpoint-down(sm) {
            padding-left: 0;
            padding-right: 0;
            text-align: center;
            margin-bottom: 26px;
        }
    }
    .sd-scene-ct-4 {
        font-family: $font-noto;
        font-weight: normal;
        color: $text-color;
        padding-top: 53px;
        @include media-breakpoint-down(sm) {
            display: none;
        }
        h2 {
            margin-bottom: 22px;
        }
        p {
            font-family: YuGothic;
            font-weight: 500;
            font-size: 15px;
        }
    }
    .sd-scene-ct-4-mobi {
        display: none;
        @include media-breakpoint-down(sm) {
            display: block;
            text-align: center;
            padding-left: 35px;
            padding-right: 35px;
            margin-bottom: 66px;
            h2 {
                font-family: $font-noto;
                font-weight: 500;
                font-size: 20px;
                margin-bottom: 21px;
            }
            p {
                text-align: left;
                font-family: YuGothic;
                font-weight: 500;
                font-size: 16px;
            }
        }
    }
    .sd-scene-img-ct-4 {
        margin-bottom: 106px;
        @include media-breakpoint-down(sm) {
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 42px;
            text-align: center;
        }
    }
}


/*-------- //section #1 --------*/


/*--------- section #2 ---------*/

#dinner {
    p {
        margin-bottom: 15px;
    }
    h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    @import "_button.scss";
    background-color: $gray-background;
    background-size: cover;
    .dinner-content {
        padding-left: 62px;
        padding-right: 62px;
        padding-top: 104px;
        @include media-breakpoint-down(sm) {
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 0;
        }
        .sd-dn-title {
            max-width: 740px;
            margin-bottom: 38px;
            text-align: center;
            color: #606060;
            padding: 0;
            @include media-breakpoint-down-xxs {
                padding-left: 15px !important;
                padding-right: 15px !important;
            }
            @include media-breakpoint-up(md) {
                margin-left: 15px;
            }
            @include media-breakpoint-down(sm) {
                padding-top: 83px;
                margin-bottom: 25px;
                padding-left: 15px;
                padding-right: 15px;
            }
            p:nth-of-type(1) {
                font-family: "Adobe Garamond Pro";
                font-weight: normal;
                font-size: 24px;
                text-align: center;
                color: $text-color;
                padding-top: 18px;
                @include media-breakpoint-down(sm) {
                    font-family: "Adobe Garamond Pro";
                    font-weight: normal;
                    font-size: 20px;
                    padding-top: 14px;
                    margin-bottom: 21px;
                }
            }
            p:nth-of-type(2) {
                font-family: YuGothic;
                font-weight: 500;
                font-size: 15px;
                text-align: left;
                @include media-breakpoint-down(sm) {
                    font-family: YuGothic;
                    font-weight: 500;
                    font-size: 16px;
                    text-align: left;
                }
            }
        }
        .row-slide {
            margin-left: 0;
            margin-right: 0;
            @include media-breakpoint-down(sm) {
                margin-left: -20px;
                margin-right: -20px;
            }
        }
        //SLIDE
        .sd-dn-slick-slider {
            @include media-breakpoint-up(sm) {
                max-width: 740px;
            }
            margin-bottom:53px;
            padding:0;
            @include media-breakpoint-up(md) {
                margin-left: 15px;
            }
            @include media-breakpoint-down(sm) {
                margin-bottom: 26px;
            }
            .slick-dots {
                list-style: none;
                font-size: 0;
                display: flex;
                position: absolute;
                bottom: 10px;
                padding: 20px;
                width: 100%;
                justify-content: center;
                margin: 0;
                li {
                    border-radius: 50%;
                    width: 16px;
                    height: 16px;
                    position: relative;
                    margin-left: 8px;
                    &::before {
                        content: "";
                        background-image: url("./../img/parts/li-slide.png");
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 16px;
                        width: 100%;
                    }
                    &.slick-active button {
                        border-radius: 50%;
                        padding: 4px;
                        height: 8px;
                        background-color: #EDEDED;
                        border-style: none;
                        margin-top: 4px;
                        margin-left: 4px;
                        position: absolute;
                    }
                    button {
                        background-color: transparent;
                        border-style: none;
                    }
                }
            }
            .sd-dn-slide-1 {
                background-image: url("./../img/parts/sd-dn-slide-1.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                padding-top: 66.67%;
            }
            .sd-dn-slide-2 {
                background-image: url("./../img/parts/sd-dn-slide-1.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                padding-top: 66.67%;
            }
            .sd-dn-slide-3 {
                background-image: url("./../img/parts/sd-dn-slide-1.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                padding-top: 66.67%;
            }
            .slick-arrow {
                font-size: 0px;
                border-style: none;
                &.slick-prev {
                    background-image: url("./../img/parts/sd-dn-slider-arrow-l.png");
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 60px;
                    background-color: transparent;
                    height: 60px;
                    position: absolute;
                    z-index: 99;
                    left: 30px;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &.slick-next {
                    background-image: url("./../img/parts/sd-dn-slider-arrow-r.png");
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 60px;
                    height: 60px;
                    position: absolute;
                    z-index: 99;
                    right: 30px;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: transparent;
                }
            }
        }
        //SLIDE
        .sd-dn-image-1 {
            margin-bottom: 30px;
            .on-mobi {
                display: none;
            }
            @include media-breakpoint-down(sm) {
                display: none;
                .on-pc {
                    display: none;
                }
                .on-mobi {
                    display: block;
                }
            }
        }
        .sd-dn-icon {
            text-align: center;
            margin-bottom: 32px;
        }
        .sd-dn-btn {
            text-align: center;
            margin-bottom: 62px;
            @include media-breakpoint-down(sm) {
                margin-bottom: 58px;
            }
        }
        .sd-dn-content-image-2 {
            padding-top: 46px;
            padding-bottom: 50px;
            margin-bottom: 93px;
            margin-right: -32px;
            margin-left: -32px;
            background-image: url("./../img/parts/sd-dn-img-2-bg.jpg");
            box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.16);
            @include media-breakpoint-down(sm) {
                padding-left: 0;
                padding-right: 0;
                padding-top: 0;
                padding-bottom: 54px;
                margin-bottom: 57px;
                margin-right: 0;
                margin-left: 0;
                box-shadow: none;
            }
            .sd-dn-content-style {
                padding-left: 47px;
                padding-right: 47px;
                @include media-breakpoint-down(sm) {
                    padding-left: 0;
                    padding-right: 0;
                }
                .sd-dn-image-2 {
                    margin-bottom: 19px;
                    @include media-breakpoint-down(sm) {
                        padding: 0;
                        margin-bottom: 5px;
                        text-align: center;
                        margin-right: 15px;
                        margin-left: 15px;
                    }
                }
                .sd-dn-img-text-2 {
                    color: $text-color;
                    padding-top: 37px;
                    margin-bottom: 30px;
                    @include media-breakpoint-down(sm) {
                        padding-left: 50px;
                        padding-right: 50px;
                        text-align: center;
                        margin-bottom: 6px;
                    }
                    h2 {
                        font-family: $font-noto;
                        font-weight: 500;
                        margin-bottom: 22px;
                        @include media-breakpoint-down-xxs {
                            margin-left: 0 !important;
                            margin-right: 0 !important;
                        }
                        @include media-breakpoint-down(sm) {
                            font-size: 20px;
                            margin-bottom: 18px;
                            margin-left: -15px;
                            margin-right: -15px;
                        }
                    }
                    p {
                        font-family: YuGothic;
                        font-weight: 500;
                        font-size: 15px;
                        @include media-breakpoint-down(sm) {
                            font-family: YuGothic;
                            text-align: justify;
                            font-size: 16px;
                        }
                    }
                }
                .sd-dn-btn-md {
                    text-align: center;
                    @include media-breakpoint-down-xxs {}
                    .btn-green {
                        width: 234px;
                        margin-top: 10px;
                        margin-bottom: 0px;
                        height: 46px;
                        @include media-breakpoint-down(sm) {
                            width: 100%;
                            height: 58px;
                        }
                    }
                }
                .mobi-style {
                    @include media-breakpoint-down(sm) {
                        padding-left: 35px;
                        padding-right: 35px;
                        margin-bottom: 27px;
                    }
                }
            }
        }
        .sd-dn-ct-img-3 {
            @include media-breakpoint-down(sm) {
                margin-left: -20px;
                margin-right: -20px;
            }
            .sd-dn-image-3 {
                text-align: center;
                padding-bottom: 102px;
                @include media-breakpoint-down(sm) {
                    padding-right: 0;
                    padding-left: 0;
                }
                p {
                    font-family: YuGothic;
                    font-weight: 500;
                    font-size: 15px;
                    color: $text-color;
                    margin-bottom: 33px;
                }
            }
        }
        .sd-dn-img-text-3 {
          text-align: center;
            margin-bottom: 35px;
            @include media-breakpoint-down(sm) {
                margin-bottom: 23px;
            }
        }
    }
}


/*--------- section #2 ---------*/

//BANNER ABOUT
.bg-gray {
    background-color: $gray-background;
}

.banner {
    .main-slider {
        position: relative;
        z-index: 1;
    }
    .bg-banner {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .d-table {
        height: 490px;
        @include media-breakpoint-down(sm) {
            height: 405px;
        }
    }
    .title {
        margin-top: 70px;
        margin-bottom: 5px;
        img {
            margin: 0 auto;
        }
        @include media-breakpoint-down(sm) {
            margin-top: 50px;
            margin-bottom: 10px;
        }
    }
    .text {
        font-family: $font-noto;
        font-weight: 500;
        font-size: 20px;
        line-height: 46px;
        color: #fff;
        @include media-breakpoint-down(sm) {
            font-size: 16px;
            line-height: 37px;
        }
    }
}

//OVERVIEW ABOUT
.overview {
    padding: 100px 0;
    @include media-breakpoint-down(sm) {
        padding: 50px 0 70px;
    }
    .title {
        font-family: $font-noto;
        font-weight: 500;
        font-size: 24px;
        line-height: 38px;
        text-align: center;
        margin-bottom: 15px;
        @include media-breakpoint-down(sm) {
            font-size: 20px;
            line-height: 36px;
        }
    }
    .content {
        max-width: 740px;
        margin: 0 auto;
        @include media-breakpoint-down(sm) {
            padding: 0 15px;
        }
    }
}

//MESSAGE ABOUT
.message {
    padding: 102px 0 110px;
    background-image: url('./../img/parts/bg-message.jpg');
    @include media-breakpoint-down(sm) {
        padding: 80px 0 75px;
    }
    .title {
        text-align: center;
        margin-bottom: 50px;
        @include media-breakpoint-down(sm) {
            margin-bottom: 28px;
        }
        span {
            display: block;
            font-family: $font-noto;
            font-weight: 500;
            font-size: 20px;
            text-align: center;
            margin-top: -7px;
            @include media-breakpoint-down(sm) {
                font-size: 16px;
            }
        }
    }
    .title-sm {
        font-family: $font-noto;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 20px;
        margin-top: -12px;
        @include media-breakpoint-down(sm) {
            font-size: 20px;
            line-height: 32px;
            text-align: center;
            margin-top: 28px;
        }
    }
    .image {
        max-width: 282px;
        margin-top: 5px;
        @include media-breakpoint-down(sm) {
            margin: 0 auto;
            text-align: center;
        }
        &.r-img {
            @include media-breakpoint-up(md) {
                margin-left: auto;
            }
        }
        .text {
            font-family: $font-noto;
            font-size: 16px;
            line-height: 36px;
            font-weight: 500;
            text-align: center;
            margin-top: 7px;
            @include media-breakpoint-down(sm) {
                line-height: 32px;
                margin-top: 25px;
                margin-bottom: 20px;
                padding: 0;
            }
            span {
                display: block;
                font-size: 24px;
                margin-top: -3px;
                @include media-breakpoint-down(sm) {
                    font-size: 20px;
                }
            }
        }
    }
    .mb-25 {
        margin-bottom: 25px;
        @include media-breakpoint-down(sm) {
            margin-bottom: 52px;
        }
    }
    .mb-32 {
        margin-bottom: 32px;
        @include media-breakpoint-down(sm) {
            margin-bottom: 60px;
        }
    }
    .mb-50 {
        margin-bottom: 50px;
        @include media-breakpoint-down(sm) {
            margin-bottom: 28px;
        }
    }
    .mb-55 {
        margin-bottom: 55px;
        @include media-breakpoint-down(sm) {
            margin-bottom: 60px;
        }
    }
    .text {
        @include media-breakpoint-down(sm) {
            padding: 0 15px;
        }
        &.mb-25 {
            @include media-breakpoint-down(sm) {
                margin-bottom: 29px;
            }
        }
        &.bg-orange {
            background: #eac3a6;
            padding: 25px 30px 20px;
            min-height: 358px;
            @include media-breakpoint-down(sm) {
                padding: 15px 20px 20px;
                margin: 0 15px;
            }
        }
    }
}

//LIST FORM ABOUT
.list-form {
    padding: 40px 0 50px;
    @include media-breakpoint-down(sm) {
        padding: 0;
    }
    .contact-form {
        margin-top: 0;
        margin-bottom: 90px;
        @include media-breakpoint-down(sm) {
            margin: 0 15px 80px;
        }
    }
}