$font-family: Helvetica,
"Yu Gothic",
"游ゴシック",
YuGothic,
"游ゴシック体",
sans-serif;
$font-family-avenir: Avenir,
Helvetica,
"Yu Gothic",
"游ゴシック",
YuGothic,
"游ゴシック体",
sans-serif;
$font-family-futura: Futura,
Helvetica,
"Yu Gothic",
"游ゴシック",
YuGothic,
"游ゴシック体",
sans-serif;
$font-noto: 'Noto Serif JP',
serif;
$text-color: #606060;
$gray-background: #EDEDED;
$green-color: #4F8966;
$white-background: #FCFCFC;
$white-color: #ffffff;