@import "variables";
@import "functions";
@font-face {
    font-family: 'Avenir Next';
    src: url('./../fonts/AvenirNextLTPro-Regular.eot');
    src: url('./../fonts/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'), url('./../fonts/AvenirNextLTPro-Regular.woff2') format('woff2'), url('./../fonts/AvenirNextLTPro-Regular.woff') format('woff'), url('./../fonts/AvenirNextLTPro-Regular.ttf') format('truetype'), url('./../fonts/AvenirNextLTPro-Regular.svg#./../fonts/AvenirNextLTPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('./../fonts/AvenirNextLTPro-MediumIt.eot');
    src: url('./../fonts/AvenirNextLTPro-MediumIt.eot?#iefix') format('embedded-opentype'), url('./../fonts/AvenirNextLTPro-MediumIt.woff2') format('woff2'), url('./../fonts/AvenirNextLTPro-MediumIt.woff') format('woff'), url('./../fonts/AvenirNextLTPro-MediumIt.ttf') format('truetype'), url('./../fonts/AvenirNextLTPro-MediumIt.svg#./../fonts/AvenirNextLTPro-MediumIt') format('svg');
    font-weight: 500;
    font-style: italic;
}

body {
    font-family: $font-family;
    color: $text-color;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 129px;
    @include media-breakpoint-down(md) {
        padding-top: 60px;
    }
    @include media-breakpoint-down(sm) {
        font-size: 16px;
        line-height: 28px;
    }
}

.container {
    max-width: 924px !important;
}

.bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.link-to {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

//common
@import "header";
@import "footer";
@import "button";
//pages
@import "index";
@import "parts";