<footer id="footer">
    <a href="#body">
        <div class="page-top d-none d-lg-block">
            <img src="<!--#echo var='resourcePath'-->img/ssi/page-top.svg" alt="">
        </div>
    </a>
    <div class="pre-footer bg d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <a href="#"><img class="footer-logo" src="<!--#echo var='resourcePath'-->img/ssi/logo-footer.svg"></a>
                    <div class="text-ico">
                        <img src="<!--#echo var='resourcePath'-->img/ssi/map.svg" alt="">
                        <div class="text">神戸市中央区加納町6-4-1<br>東遊園地内</div>
                    </div>
                    <div class="text-ico">
                        <img src="<!--#echo var='resourcePath'-->img/ssi/tel.svg" alt="">
                        <div class="text">
                            <a href="tel:0783327888">078-332-7888 (レストラン)</a><br>
                            <a href="tel:0782916653">078-291-6653 (ブライダル直通)</a>
                        </div>
                    </div>
                    <div class="text-ico">
                        <img src="<!--#echo var='resourcePath'-->img/ssi/clock.svg" alt="">
                        <div class="text clock">LUNCH / AM 11:30 to PM 15:00<br>DINNER / PM 18:00 to 22:00<br>火曜日定休日
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-4">
                            <div class="chev-item">
                                <a href="#">
                                    <img class="chev" src="<!--#echo var='resourcePath'-->img/ssi/arrow-white.svg">TOP</a>
                            </div>
                            <div class="chev-item">
                                <a href="#">
                                    <img class="chev" src="<!--#echo var='resourcePath'-->img/ssi/arrow-white.svg">VILLABLANCHEについて</a>
                            </div>
                            <div class="chev-item">
                                <a href="#">
                                    <img class="chev" src="<!--#echo var='resourcePath'-->img/ssi/arrow-white.svg">レストラン</a>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="chev-item">
                                <a href="#">
                                    <img class="chev" src="<!--#echo var='resourcePath'-->img/ssi/arrow-white.svg">ウェディング</a>
                            </div>
                            <div class="sub-chev">
                                <div class="chev-item">
                                    <a href="#">- 想い</a>
                                </div>
                                <div class="chev-item">
                                    <a href="#">- フェア一覧</a>
                                </div>
                                <div class="chev-item">
                                    <a href="#">- スペース</a>
                                </div>
                                <div class="chev-item">
                                    <a href="#">- スタイル・プライス</a>
                                </div>
                                <div class="chev-item">
                                    <a href="#">- お料理</a>
                                </div>
                                <div class="chev-item">
                                    <a href="#">- ドレス</a>
                                </div>
                                <div class="chev-item">
                                    <a href="#">- コーディネート</a>
                                </div>
                                <div class="chev-item">
                                    <a href="#">- フォトギャラリー</a>
                                </div>
                                <div class="chev-item">
                                    <a href="#">- パーティレポート</a>
                                </div>
                                <div class="chev-item">
                                    <a href="#">- よくある質問</a>
                                </div>
                                <div class="chev-item">
                                    <a href="#">- プランナーブログ</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="chev-item">
                                <a href="#">
                                    <img class="chev" src="<!--#echo var='resourcePath'-->img/ssi/arrow-white.svg">パーティ・宴会</a>
                            </div>
                            <div class="chev-item">
                                <a href="#">
                                    <img class="chev" src="<!--#echo var='resourcePath'-->img/ssi/arrow-white.svg">イベント</a>
                            </div>
                            <div class="chev-item">
                                <a href="#">
                                    <img class="chev" src="<!--#echo var='resourcePath'-->img/ssi/arrow-white.svg">お知らせ</a>
                            </div>
                            <div class="chev-item">
                                <a href="#">
                                    <img class="chev" src="<!--#echo var='resourcePath'-->img/ssi/arrow-white.svg">お問い合わせ・ご予約</a>
                            </div>
                            <div class="chev-item">
                                <a href="#">
                                    <img class="chev" src="<!--#echo var='resourcePath'-->img/ssi/arrow-white.svg">プライバシーポリシー</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pre-fotter-sp bg d-lg-none">
        <div class="container">
            <a href="#"><img class="footer-logo" src="<!--#echo var='resourcePath'-->img/ssi/logo-footer.svg"></a>
            <div class="text"><strong>ご予約・お問合せはこちらから</strong></div>
            <div class="text-tel">
                <a href="tel:0783327888"><img src="<!--#echo var='resourcePath'-->img/ssi/common_footer-tel-sp.svg" alt="">078-332-7888 <span>（レストラン）</span></a>
            </div>
            <div class="text-tel">
                <a href="tel:0782916653"><img src="<!--#echo var='resourcePath'-->img/ssi/common_footer-tel-sp.svg" alt="">078-291-6653 <span>（ブライダル直通）</span></a>
            </div>
            <div class="text-location">
                <div class="text-ico d-flex">
                    <img src="<!--#echo var='resourcePath'-->img/ssi/map-sp.svg" alt="">
                    <div class="text">神戸市中央区加納町6-4-1 東遊園地内</div>
                </div>
                <div class="text-ico d-flex">
                    <img src="<!--#echo var='resourcePath'-->img/ssi/clock-sp.svg" alt="">
                    <div class="text clock">LUNCH / AM 11:30 to PM 15:00<br>DINNER / PM 18:00 to 22:00<br>火曜日定休日
                    </div>
                </div>
            </div>
            <div class="text-social">
                <a href="#" class="mr-25">wedding <img src="<!--#echo var='resourcePath'-->img/ssi/Instagram.svg" alt=""></a>
                <a href="#" class="mr-8">restaurant <img src="<!--#echo var='resourcePath'-->img/ssi/Instagram.svg" alt=""></a>
                <a href="#"><img src="<!--#echo var='resourcePath'-->img/ssi/Facebook.svg" alt=""></a>
            </div>
        </div>
    </div>
    <div class="copyright text-center">
        <div class="container">
            <div class="text">Copyright © VILLA BLANCHE All Rights Reserved.</div>
        </div>
    </div>
</footer>


<script src="<!--#echo var='resourcePath'-->js/jquery-3.3.1.min.js"></script>


<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
<script src="<!--#echo var='resourcePath'-->js/slick.min.js"></script>
<script src="<!--#echo var='resourcePath'-->js/main.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script>

</body>

</html>